@use 'global/variables' as v;
@use 'global/mixins' as m;

.settings {
    @include m.container(100rem, 90%);
    background-image: linear-gradient(to bottom, v.$redColor 50%, #494949 100%);
    padding: 2rem;
    border-radius: v.$radius;

    &__title {
        @include m.fontSize;
        text-transform: capitalize;
        text-align: center;
        font-weight: 700;
        color: v.$whiteColor;
        margin-bottom: v.$bottom;
    }
}