@use 'variables' as v;



@mixin phone {
    @media(min-width: 480px) {
        @content;
    }
}


@mixin tablet {
    @media(min-width: 768px) {
        @content;
    }
}


@mixin laptop {
    @media(min-width: 1200px) {
        @content;
    }
}

@mixin desktop {
    @media(min-width: 1700px) {
        @content;
    }
}

@mixin ultrawide {
    @media(min-width: 1920px) {
        @content;
    }
}

@mixin container($width, $average) {
    width: min($width, $average);
    margin: 0rem auto;
}

@mixin fontSize {
    font-size: 1.8rem;
}

@mixin customRadius {
    border-top-left-radius: calc(v.$radius - 0.4rem);
    border-bottom-right-radius: calc(v.$radius - 0.4rem);
}


@mixin shadow {
    box-shadow: 10px 10px 0px 2px v.$blackColor;
}

@mixin elementesResponsive {
    flex-direction: column;
    align-items: center;

    @include tablet {
        flex-direction: row;
        justify-content: space-around;
        align-items: none;
    }
}