@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300..800&display=swap");

$blackColor: #363636;
$whiteColor: #ffffff;
$redColor: #E8175D;
$greenColor: #A8E6CE;
$fontFamily: "Open Sans", sans-serif;
$radius: 1.5rem;
$bottom: 3rem;