@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300;1,400;1,500&display=swap");

$blackColor: #363636;
$whiteColor: #ffffff;
$redColor: #E8175D;
$greenColor: #A8E6CE;
$fontFamily: 'Roboto', sans-serif;
$radius: 1.5rem;